Django
djangorestframework
requests
djangorestframework-jwt
django-revproxy
cryptography
psycopg2-binary
pyyaml
ua-parser
user-agents
django-user-agents
python-memcached
django-ratelimit
django-secure
django-sslserver
